@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.ttf') format('truetype');
}
/* TODO buy Proxima Nova */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova.otf') format('truetype');
}

/* Common */
html, body{
    overflow-x: hidden;
}
body{
    width: 100%;
    color: #FFFFFF;
    background: #f8ca14;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.body-container{
    width: 95%;
    position: relative;
    z-index: 1;
}

.main-button {
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px 35px;
    background-color: #FACC14;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #252525;
    border: solid 1px;
    cursor: pointer;
}

.blur {
    position: absolute;
    transform: rotate(-62.35deg);
    box-shadow: 0 0 45px 100px rgb(217 217 217 / 0.1);
    border-radius: 100%;
    filter: blur(28px);
    opacity: 0.6;
    background: rgba(217, 217, 217, 0.1);
}

.main-point{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}

.rest-container h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
}

a{
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: inherit;
}

.section{

}

.promo-input-container button{
    width: 15%;
    background-color: #E0E0E0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.promo-input-container{
    display: flex;
    box-sizing: border-box;
}

/* sidebar */
.side-bar {
    position: fixed;
    z-index: 2;
    width: 5%;
    right: 0;
}
.reference-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    background-color: rgb(248, 202, 20);
}
.reference-container a img {
    width: 3.5vh;
    margin: 2vh 0;
}

/* Main */
.main-screen {
    position: relative;
    z-index: 1;
    padding-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/main.jpg);
    height: 859px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8%;
}
.main-screen a{
    width: fit-content;
    margin: 0 auto;
}
.main-screen .main-content {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 7%;
}
.main-screen .main-content h1{
    font-size: 64px;
    margin: 0;
}
.main-screen .main-content .partners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
}



/* Navbar */
.custom-navbar .navbar-nav .nav-link, .custom-navbar .navbar-nav .nav-link.active, .custom-navbar .navbar-nav .nav-link.show {
    color: #ffffff;
}
.nav-item:hover {
    background-color: #444;
}
.nav-item {
    padding: 10px 20px;
    border-radius: 2px;
    transition: background-color 0.3s, color 0.3s;
}
.navbar-nav.custom-collapse li:nth-child(n+2):nth-child(-n+3) *{
    color: #f8ca14;
}

.navbar{
    position: fixed;
    padding: 0;
    height: 75px;
    margin: 0 auto;
    background-color: #171717;
}
.navbar .container-fluid{
    width: 90%;
}

.custom-collapse {
    margin-right: 3%;
    margin-left: auto;
    min-width: 50%;
    display: flex;
    justify-content: right;
}
.custom-collapse a {
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.current {
    border-top: 1px solid #ffffff;
}

/* TODO: make relative */
.history-table {
    position: fixed;
    z-index: 1;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: #171717;
    max-width: 89%;
    max-height: 85%;

    overflow-y: auto;

    border: #ffd710 solid 1px;
    border-radius: 6px;
    border-collapse: collapse;



    table-layout: fixed;
    text-align: left;
}
.history-row{
    padding: 10px 20px;
    border-radius: 6px;
}
.history-item {
    padding: 10px 20px;
}

.language-toggler-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.language-toggler {
    display: flex;
    gap: 1%;
    border-radius: 18px;
    height: 80%;
    overflow: hidden;
}
.language-btn {
    padding: 2px 4px;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.3s;
    font-size: 1rem;
}
.language-btn:first-child img{
    width: 30px;
    height: 30px;
    border-radius: 16px;
    object-fit: cover;
}
.language-btn:last-child img{
    width: 30px;
    height: 30px;
    border-radius: 16px;
    object-fit: cover;
}
.language-active {
    background-color: #f8ca14;
}


/* Promos */
.promos-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 10px 10px 0 10px;

    background-color: #171717;
    max-width: 89%;
    max-height: 85%;
    min-height: 60vh;
    overflow-y: auto;

    border: #ffd710 solid 1px;
    border-radius: 6px;
    border-collapse: collapse;
}
.promos-container table{
    min-width: 50vw;
    table-layout: fixed;
    text-align: left;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ffd710;
}
.nav-container .promo-input-container{
    min-height: 30px;
}
.nav-container .promo-input-container .promo-input:first-child{
    min-width: 35%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.nav-container .promo-input-container .promo-input:nth-child(2){
    width: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-button{
    border-radius: 2px;
    margin-right: 5px;
    transition: background-color 0.3s;
}
.nav-button:first-child{
    transform: rotate(180deg);
}
.nav-button:hover{
    background-color: #444;
}

#cross-icon{
    height: 60%;
}
#cross-icon:hover{
    transition: background-color 0.3s;
    background-color: #d92727;
    cursor: pointer;
    border-radius: 3px;
}
/* Description */
.rest-container {
    background: #171717;
}

.main-description-container {
    position: relative;
    min-height: 650px;
    display: flex;
    width: 100%;
    align-items: center;
}
.main-description-container .blur {
    width: 8%;
    height: 50%;
    z-index: 1;
    top: 20%;
    left: 20%;
}
.main-description-container .rectangle {
    width: 73%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: -5vh;
    right: -1px;
    user-select: none;
}


.card-container {
    height: 100%;
    position: relative;
    width: 100%;
}
.card-container .button-container .button{
    display: flex;
    align-items: center;
}
.card-item .card-side{
    background: radial-gradient(circle at center, transparent -400%, #232323 70%) no-repeat fixed;
    background-size: 125% 150%;
    border: #4F4F4F solid 1px;
    font-family: "Proxima Nova", sans-serif;
    color: #FFFFFF;
}
.card-container .card-item .front{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel .card-item.active{
    height: 450px;
    width: 400px;
}
.carousel .card-item.next{
    height: 350px;
    width: 300px;
}
.carousel .card-item.prev{
    height: 350px;
    width: 300px;
}

.card-content {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
}
.person-card-image{
    position: absolute;
    z-index: -1;
    left: 30%;
    bottom: 0;
    height: 50%;
}

.main-description {
    width: 30%;
    color: #FFFFFF;
    font-family: 'Proxima Nova', sans-serif;
    margin-left: 3%;
}
.top-description{
    position: absolute;
    top: 0;
}
.bottom-description{
    bottom: 5vh;
    position: absolute;
    width: 40%;
    height: 20%;
}
.bottom-description h4{
    font-size: 100%;
    font-weight: 400;
}

.card-button{
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    height: 40px;
    min-width: 10vw;
    background-color: #353535;
    border: none;
    border-radius: 100px;
    margin-top: 5%;
    font-size: 1vw;
}
.card-button img{
    width: 12%;
    margin-right: 5%;
    margin-left: 5%;
    transform: rotate(-45deg);
}

/* Schedule */
.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.schedule-container > p{
    width: 60%;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schedule-title{
    font-weight: 700;
    margin: 5% 0;
}

.schedule-item{
    display: flex;
    background-color: #232323;
    min-height: 140px;
    min-width: 125%;
}
.schedule-item-time{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.schedule-item h5{
    margin: 0;
    font-weight: 800;
}
.schedule-item-description h5{
    margin-bottom: 10px;
    font-weight: 800;
}
.schedule-item-description{
    padding-right: 10%;
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
}
.schedule-item-description p{
    margin: 0;
}
.schedule-item{
    margin-bottom: 30px;
    box-shadow: 0 2px 8px #00000014;
}

.schedule-container .main-button{
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
    background-color: #FFC200;
}

.schedule-side-bar{
    height: 100vh;
    background-color: #f8ca14;
    position: relative;
    z-index: 5;
}

/* Ribbon */
.ribbon-container{
    margin-top: 10%;
}
.ribbon {
    font-family: Manrope, sans-serif;
    font-weight: 400;

    width: 100vw;
    height: 5vw;

    position: relative;
}
.first-ribbon{
    background: #F8CA14;
    transform: rotate(5deg);
    color: black;
}
.second-ribbon{
    background: black;
    transform: rotate(-5deg);
    color: white;
    top: -5vw;
}
.second-ribbon .separator{
    color: #F8CA14;
}
.ribbon-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.ribbon-labels h2{
    font-size: 2vw;
    padding: 0 3vw;
    margin: 0;
}
.separator {
    color: black;
    font-size: 3vw;
}

/* Participants */
.participants{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.participants-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10%;
}
.participants-item {;
    width: 30%;
    height: 22vw;
    background-color: #232323;
    position: relative;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}
.participants-item img {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    top: -7vw;
}
.participants-item h4{
    position: absolute;
    top: 11vw;
    width: 80%;
    height: 50%;
    font-family: "Proxima Nova", sans-serif;
    font-size: 2vw;
    text-align: center;
}

/* Partners */
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners h2{
    font-size: 40px;
    font-weight: 700;
}
.partners p{
    width: 60%;
    text-align: center;
}
.partners-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.partners-item{
    position: relative;
    margin: 0 3% 0 3%;
    display: flex;
    justify-content: center;
    height: 10vw;
    width: 11vw;
}
.partners-item img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    user-select: none;
}
.partners .main-button{
    width: 15vw;
    height: 5vw;
    padding: 1vw;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

/* Auditorium */
.auditorium{
    display: flex;
    width: 90%;
    margin: 120px auto auto;
}
.auditorium *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auditorium-description{
    width: 60%;
    margin-right: 5%;
}
.auditorium-description h2{
    font-size: 26px;
    font-weight: 700;
}
.auditorium-description .main-button{
    font-size: 16px;
    width: fit-content;
    font-weight: 700;
    background-color: #F8CA14;
}

/* Timer */
.timer{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10%;
}
.gradient-line {
    width: 72%;
    height: 7px;
    margin: 30px auto 0;

    background: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
}

/* further code for Timer is in css/timer.css */

/* Plans */
.plans{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans p{
    color: #E3E3E3;
    width: 60%;
    text-align: center;
}
.plans h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.plans-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
}

.plan{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    color: black;
    width: 27%;
}
.plan img{
    user-select: none;
}
.plan p{
    color: black;
}
.plan h2{
    font-weight: 700;
    margin-top: 20px;
}
.plan h1{
    font-weight: 700;
    margin-top: 40px;
}

.plan:first-child{
    margin-left: 5%;
}
.plan:last-child{
    margin-right: 5%;
}

.plan:nth-child(1){
    background-color: #F0F0F0;
}
.plan:nth-child(1) p{
    color: #828282;
}

.plan:nth-child(2){
    background-color: #F8CA14;
}
.plan:nth-child(2) button{
    background-color: black;
    color: white;
}

.plan:nth-child(3){
    color: #F8CA14;
    background-color: black;
}
.plan:nth-child(3) p{
    color: #F8CA14;
}

.plan:nth-child(3) button{
    background-color: #F8CA14;
    color: white;
}

.excluded{
    color: #BDBDBD;
}

.plan ul {
    width: 80%;
    padding: 0;
    list-style-type: none; /* Remove default marker */
}
.plan ul li{

    margin-bottom: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.plan ul li img{
    margin-right: 10px;
}

.plan button{
    width: 80%;
    height: 4vw;
    border: 1px solid black;
    border-radius: 8px;

    font-weight: 600;
    font-size: 16px;
}

/* Request */
.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.request h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.request p{
    width: 60%;
    text-align: center;
}
.request-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
}
.request-container textarea, input, button {
    border: none;
    outline: none;
}
.request-container input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
}

.choose-tariff{
    border-radius: 8px;
    width: 30%;
    padding: 40px 0;
}
.choose-tariff p {
    color: #828282;
    width: 100%;
    text-align: start;
}
.choose-tariff ul{
    padding: 0;
}
.choose-tariff ul li{
    font-family: Spartan, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    list-style-type: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: #828282;
}
.choose-tariff ul li{
    cursor: pointer;
}
.choose-tariff ul li svg{
    margin-left: 1vw;
}
.choose-tariff ul li div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-tariff ul li div p{
    width: fit-content;
    margin: 0 0.7vw;
}

.promo-input{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: Spartan, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}
.promo-input + button:hover{
    background-color: #F8CA14;
}
.promo-input + button{
    transition: background-color 0.3s;
}

.selected-tariff {
    background-color: #F8CA14 !important;
}
.selected-tariff div p{
    color: black !important;
}
.selected-tariff svg path{
    fill: white !important;
}

.credentials-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    border-width: 1px;
    border-style: dashed;
    border-color: #E0E0E0;
    width: 50%;
    padding: 80px 50px;
}
.credentials-form h4{
    margin: 0 0 20px 0;
}
.credentials-form input{
    border-radius: 8px;
    margin-bottom: 25px;
}
.credentials-form form div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}
.credentials-form .main-button{
    height: 4vw;
    line-height: 4vw;
    width: 30%;
    font-size: 1.5vw;
    padding: 0;
    text-align: center;
}
.credentials-form p{
    width: fit-content;
    margin: 0;
    font-size: 2vw;
    padding: 0;
    text-align: center;
    color: #FFC200;
    font-weight: 700;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(248, 202, 20);
    padding: 10px 0;
    color: black;
}
.footer p{
    width: 60%;
    text-align: center;
    color: #4F4F4F;
}
.footer button{
    width: 15%;
    height: 4vw;
    background-color: black;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
.footer div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}


/* Login popup */
.popup {
    position: fixed;
    z-index: 6;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #F8CA14;
    border-radius: 10px;
    border: #252525;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 35vw;
    max-width: 80vw;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3vw;
    background-image: url(../images/buildings.png);
    background-position-x: 2vw;
    background-position-y: 4vw;
    background-repeat: no-repeat;
}
.tabs {
    display: flex;
}
.tab:first-child {
    width: 13%;
}
.tab {
    user-select: none;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: 2px solid #252525;
    background-color: #252525;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}
.tab:hover, .content form button:hover {
    background-color: #444;
}
.content {
    display: none;
}
.content div *{
    border-radius: 3px;
    margin: 1vw 0;
    color: #171717;

}
.content div input{
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.content div button{
    color: #FFFFFF;
    background-color: #252525;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}
.content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: 80vh;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
}
.active {
    display: block;
}

/* Error notification */
.error-notification{
    border-bottom-right-radius: 7px;
    border: black solid 1px;
    text-align: center;
    padding: 10px 20px;

    position: fixed;
    z-index: 1000;
    display: flex;
    max-width: 60%;
    background-color: #f8ca14;
    color: #252525;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;

    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
.error-notification.showError{
    opacity: 1;
    transform: translateY(75px);
}

/* Commons */
.hidden{
    display: none;
}

@media (max-width: 991px) {
    /* common */
    .blur{
        display: none;
    }
    .body-container{
        width: 100%;
    }

    /* navbar */
    .current {
        border-top: none;
        background-color: #F8CA14 !important;
        color: #171717;
    }
    .custom-collapse{
        align-items: center;
        margin: 0;
        width: 100%;
        background-color: #171717;
        border-radius: 3px;
    }
    .custom-collapse a{
        margin: 10px 0;
        font-size: 3vw;
    }
    .nav-item {
        width: 100%;
        text-align: center;
    }
    .show{
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
    }

    /* Main description */
    .rectangle{
        display: none;
    }
    .main-description-container {
        flex-direction: column;
        align-items: center;
        height: 300px;
    }
    .main-description {
        text-align: center;
        width: 45%;
        padding: 50px 0;
        margin: 0 auto;
    }

    .carousel .card-item.active{
        height: 50vw;
        width: 40vw;
    }
    .carousel .card-item.prev {
        height: 35vw;
        width: 25vw;
    }
    .carousel .card-item.next {
        height: 35vw;
        width: 25vw;
    }
    .carousel .button-container {
        width: 50vw;
    }

    .top-description p{
        font-size: 100%;
    }
    .top-description h1{
        font-size: 150%;
    }

    /* Auditorium */
    .auditorium .auditorium-description{
        width: 100%;
        margin-right: 0;
        background-image: url(../images/auditorium.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 476px;
    }
    .auditorium .auditorium-image{
        display: none;
    }

    /* Request */
    .request-container{
        flex-direction: column;
        align-items: center;
    }
    .request-container div{
        width: 70%;

    }

    /* Login popup */
    .popup{
        scale: 205%;
        transform: translate(-20%, -20%);
    }
    .navbar{
        height: 8vh;
    }
    .navbar-toggler{
        border: #f8ca14 solid 1px;
    }
}

